.text-center {
    text-align: center;
}

.opponentImg {
    display: block;
    width: 183px;
    padding: 1em;
    border: 1px solid green;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0 auto;
    margin-bottom: 1em;
}

.healthbar {
    width: 80%;
    height: 40px;
    background-color: #eee;
    margin: auto;
    transition: width 500ms;
}

.health-text {
    position: absolute; 
    top: -8px; 
    left: 168px; 
    width: 40px; 
    text-align: center;
    color: black;
    font-weight: bold;
}

.controls, .log {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px #ccc;
}

.turn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.log ul {
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}

.log ul li {
    margin: 5px;
}

.log ul .player-turn {
    color: blue;
    background-color: #e4e8ff;
}

.log ul .monster-turn {
    color: red;
    background-color: #ffc0c1;
}

button {
    font-size: 20px;
    background-color: #eee;
    padding: 12px;
    box-shadow: 0 1px 1px black;
    margin: 10px;
}

#start-game {
    background-color: #aaffb0;
}

#start-game:hover {
    background-color: #76ff7e;
}

#attack {
    background-color: #ff7367;
}

#attack:hover {
    background-color: #ff3f43;
}

#special-attack {
    background-color: #ffaf4f;
}

#special-attack:hover {
    background-color: #ff9a2b;
}

#heal {
    background-color: #aaffb0;
}

#heal:hover {
    background-color: #76ff7e;
}

#give-up {
    background-color: #ffffff;
}

#give-up:hover {
    background-color: #c7c7c7;
}

.flip-enter-active, .flip-leave-active {
    transition: transform 0.4s ease-out;
}

.flip-enter, .flip-leave-to {
    transform: rotateX(90deg);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s ease-out;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.slide-enter-active, .slide-leave-active {
    transition: all 0.5s ease-out;
}

.slide-enter, .slide-leave-to {
    opacity: 0;
    transform: translateY(-20px);
}