<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">YOU</h1>
                <img class="opponentImg" src="./img/homer.png" alt="image of you">
                <div class="healthbar" style="position: relative">
                    <p class="health-text" :style="{'color': playerHealth > 60 ? 'white' : 'black'}">{{playerHealth}}</p>
                    <div    class="healthbar text-center" 
                            style="margin: 0; color: white;"
                            :style="[{width: playerHealth + '%', 'background-color': getHealthBarColor(playerHealth)}]"
                            >
                               
                    </div>
                    
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MONSTER</h1>
                <img class="opponentImg" src="./img/monster.jpg" alt="image of you">
                <div class="healthbar" style="position: relative">
                    <p class="health-text" :style="{'color': monsterHealth >= 60 ? 'white' : 'black'}">{{monsterHealth}}</p>
                    <div    id="monster"
                            class="healthbar text-center" 
                            style="margin: 0; color: white;" 
                            :style="[{width: monsterHealth + '%', 'background-color': getHealthBarColor(monsterHealth)}]"
                            >
                    </div>
                </div>
            </div>
        </section>
        <transition name="flip" mode="out-in">
            <section key=1 v-if="gameNotStarted" class="row controls">
                <div class="small-12 columns">
                    <button @click="gameNotStarted = false" id="start-game">START NEW GAME</button>
                </div>
            </section>
            <section key=2 v-else class="row controls">
                <div class="small-12 columns">
                    <button @click="attack(normalAttack)" id="attack" :disabled="disableButtons">ATTACK</button>
                    <button @click="attack(normalAttack, specialAttack)" id="special-attack" :disabled="disableButtons">SPECIAL ATTACK</button>
                    <button @click="heal" id="heal" :disabled="disableButtons">HEAL</button>
                    <button @click="resetGame" id="give-up" :disabled="disableButtons">GIVE UP</button>
                </div>
            </section>
        </transition>

        <section class="row log" v-if="moves.length > 0">
            <div class="small-12 columns">
                <transition-group tag="ul" name="slide">
                        <li v-for="(move, index) in moves" :class="{'player-turn': index % 2 == 0, 'monster-turn': index % 2 != 0}" :key="index">
                                {{move.action}} {{move.volume}}
                        </li>
                </transition-group>
            </div>
        </section>
    </div>
    <script src="app.js"></script>
</body>

</html>